<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kopi Mbah</title>

    <!---------x-------------------x--------------------x------------------- Fonts ---------x-------------------x--------------------x------------------->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <!---------x-------------------x--------------------x------------------- Feather Icons ---------x-------------------x--------------------x------------------->
    <script src="https://unpkg.com/feather-icons"></script>

    <!---------x-------------------x--------------------x------------------- My Style ---------x-------------------x--------------------x------------------->

    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="Javascripts" href="js/script.js" />
  </head>

  <body>
    <!---------x-------------------x--------------------x------------------- Navbar start ---------x-------------------x--------------------x------------------->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Kenangan <span> Senja</span>.</a>

      <div class="navbar-nav">
        <a href="#">Home</a>
        <a href="#about">Tentang Kami</a>
        <a href="#menu">Menu</a>
        <a href="#contact">Kontak</a>
      </div>

      <div class="navbar-extra">
        <a href="#" id="search"><i data-feather="search"></i></a>
        <a href="#" id="shopping-cart"><i data-feather="shopping-cart"></i></a>
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!---------x-------------------x--------------------x------------------- Navbar end ---------x-------------------x--------------------x------------------->

    <section class="hero" id="home">
      <main class="content">
        <h1>Mari Nikmati Secangkir <span>Kopi</span></h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum
          veritatis quaerat repellendus pariatur a saepe corporis odio quas,
          explicabo dolorum.
        </p>
        <a href="#" class="cta"> Beli Sekarang</a>
      </main>
    </section>

    <!---------x-------------------x--------------------x------------------- Hero Section start ---------x-------------------x--------------------x------------------->

    <!---------x-------------------x--------------------x------------------- Hero Section end ---------x-------------------x--------------------x------------------->

    <!---------x-------------------x--------------------x------------------- Feather Icons ---------x-------------------x--------------------x------------------->
    <script>
      feather.replace();
    </script>

    <!---------x-------------------x--------------------x------------------- My JavaScripts ---------x-------------------x--------------------x------------------->
    <script src="js/script.js"></script>

    <!---------x-------------------x--------------------x------------------- Footer ---------x-------------------x--------------------x------------------->
  
  
  </body>
</html>
